# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated Excel outputs
app/process_data/generated/
app/process_data/debug_salary.xlsx
